/* Layout ------------------------------------------------------------------ */
/* line 20, ../sass/screen.sass */
.container {
  *zoom: 1;
  margin: auto;
  width: 83em;
  max-width: 100%;
}
/* line 38, ../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 24, ../sass/screen.sass */
body {
  border-top: #4a554a 10px solid;
}

/* line 27, ../sass/screen.sass */
p, label {
  font-family: Tahoma, serif;
}

/* line 30, ../sass/screen.sass */
a {
  color: #4a554a;
}

/* line 33, ../sass/screen.sass */
.clearme {
  clear: both;
}

/* line 36, ../sass/screen.sass */
.button {
  font-size: 100%;
  padding: 0.3em 1.5em;
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  background-color: #888888;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aeaeae), color-stop(70%, #888888));
  background: -webkit-linear-gradient(#aeaeae, #888888 70%);
  background: -moz-linear-gradient(#aeaeae, #888888 70%);
  background: -o-linear-gradient(#aeaeae, #888888 70%);
  background: -ms-linear-gradient(#aeaeae, #888888 70%);
  background: linear-gradient(#aeaeae, #888888 70%);
  -moz-box-shadow: #d5d5d5 0 1px 0 inset;
  -webkit-box-shadow: #d5d5d5 0 1px 0 inset;
  -o-box-shadow: #d5d5d5 0 1px 0 inset;
  box-shadow: #d5d5d5 0 1px 0 inset;
  border: 1px solid #7b7b7b;
  color: white;
  text-shadow: #6b6b6b 0 -1px 0;
}
/* line 10, ../../../../Ruby187/lib/ruby/gems/1.8/gems/sassy-buttons-0.0.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:hover {
  background-color: #7b7b7b;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #a2a2a2), color-stop(75%, #7b7b7b));
  background: -webkit-linear-gradient(#a2a2a2 3%, #7b7b7b 75%);
  background: -moz-linear-gradient(#a2a2a2 3%, #7b7b7b 75%);
  background: -o-linear-gradient(#a2a2a2 3%, #7b7b7b 75%);
  background: -ms-linear-gradient(#a2a2a2 3%, #7b7b7b 75%);
  background: linear-gradient(#a2a2a2 3%, #7b7b7b 75%);
}
/* line 13, ../../../../Ruby187/lib/ruby/gems/1.8/gems/sassy-buttons-0.0.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:active {
  -moz-box-shadow: #747474 0 1px 2px inset;
  -webkit-box-shadow: #747474 0 1px 2px inset;
  -o-box-shadow: #747474 0 1px 2px inset;
  box-shadow: #747474 0 1px 2px inset;
}

/* line 39, ../sass/screen.sass */
#header {
  clear: both;
  margin-left: 2.41%;
  margin-right: 2.41%;
  margin-left: 2.41%;
  padding-bottom: 20px;
}
/* line 44, ../sass/screen.sass */
#header #logo {
  display: inline;
  float: left;
  width: 36.709%;
  margin-right: 1.266%;
  text-align: center;
}
/* line 48, ../sass/screen.sass */
#header #logo a {
  color: #888888;
}
/* line 50, ../sass/screen.sass */
#header #logo a:hover {
  text-decoration: none;
}
/* line 53, ../sass/screen.sass */
#header #logo img#logo-img {
  width: 100px;
  margin: 30px 0;
}
/* line 57, ../sass/screen.sass */
#header #logo #ffc-title {
  color: #888888;
  font-size: 180%;
  font-weight: normal;
  letter-spacing: -1px;
}
/* line 64, ../sass/screen.sass */
#header #nav {
  display: inline;
  float: left;
  width: 62.025%;
  margin-right: 1.266%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  text-align: right;
}
/* line 69, ../sass/screen.sass */
#header #nav ul#nav-menu {
  list-style: none;
  padding-top: 50px;
}
/* line 73, ../sass/screen.sass */
#header #nav ul#nav-menu li {
  font-size: 150%;
  font-weight: bold;
  letter-spacing: -1px;
  color: #d5d5d5;
  display: inline;
  padding: 0 15px;
}

/* line 81, ../sass/screen.sass */
#landscape {
  width: 100%;
  background: transparent url(../images/ffc-landscape-render.jpg) center center no-repeat;
  background-size: 100%;
  height: 350px;
}

/* line 98, ../sass/screen.sass */
#control {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #bbbbbb), color-stop(40%, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #bbbbbb, #ffffff 40%);
  background-image: -moz-linear-gradient(bottom, #bbbbbb, #ffffff 40%);
  background-image: -o-linear-gradient(bottom, #bbbbbb, #ffffff 40%);
  background-image: -ms-linear-gradient(bottom, #bbbbbb, #ffffff 40%);
  background-image: linear-gradient(bottom, #bbbbbb, #ffffff 40%);
  color: #333333;
  padding: 0px 10px 5px;
  border: 1px solid #cccccc;
  border-top: none;
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -o-border-bottom-left-radius: 0.5em;
  -ms-border-bottom-left-radius: 0.5em;
  -khtml-border-bottom-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -o-border-bottom-right-radius: 0.5em;
  -ms-border-bottom-right-radius: 0.5em;
  -khtml-border-bottom-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  display: none;
}
/* line 109, ../sass/screen.sass */
#control label {
  font-weight: normal;
  font-size: 90%;
}

/* line 113, ../sass/screen.sass */
#footer {
  width: 100%;
  padding: 20px 0;
}
/* line 120, ../sass/screen.sass */
#footer #location {
  clear: both;
  margin-left: 2.41%;
  margin-right: 2.41%;
  margin-left: 2.41%;
  text-align: center;
  color: #333333;
  padding: 10px;
  margin: 0;
}
