/* line 23, ../sass/screen.sass */
body {
  border-top: #4A554A 10px solid;
}

/* line 27, ../sass/screen.sass */
.container {
  *zoom: 1;
  max-width: 79em;
  _width: 79em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 32, ../sass/screen.sass */
p, label {
  font-family: Tahoma, serif;
}

/* line 35, ../sass/screen.sass */
a {
  color: #4A554A;
}

/* line 38, ../sass/screen.sass */
.clearme {
  clear: both;
}

/* line 41, ../sass/screen.sass */
a.button:hover {
  text-decoration: none;
}

/* line 44, ../sass/screen.sass */
.button {
  font-size: 100%;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF888888', endColorstr='#FF555555');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FlYWVhZSIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjODg4ODg4Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aeaeae), color-stop(70%, #888888));
  background: -moz-linear-gradient(#aeaeae, #888888 70%);
  background: -webkit-linear-gradient(#aeaeae, #888888 70%);
  background: linear-gradient(#aeaeae, #888888 70%);
  -moz-box-shadow: #d5d5d5 0 1px 0 inset;
  -webkit-box-shadow: #d5d5d5 0 1px 0 inset;
  box-shadow: #d5d5d5 0 1px 0 inset;
  border: 1px solid #7b7b7b;
  color: white;
  text-shadow: #6b6b6b 0 -1px 0;
}
/* line 15, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:hover {
  text-decoration: none;
}
/* line 18, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:hover {
  background-color: #7b7b7b;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iI2EyYTJhMiIvPjxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjN2I3YjdiIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #a2a2a2), color-stop(75%, #7b7b7b));
  background: -moz-linear-gradient(#a2a2a2 3%, #7b7b7b 75%);
  background: -webkit-linear-gradient(#a2a2a2 3%, #7b7b7b 75%);
  background: linear-gradient(#a2a2a2 3%, #7b7b7b 75%);
}
/* line 21, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:active {
  -moz-box-shadow: #747474 0 1px 2px inset;
  -webkit-box-shadow: #747474 0 1px 2px inset;
  box-shadow: #747474 0 1px 2px inset;
}
/* line 6, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button.disabled, .button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #888888;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 47, ../sass/screen.sass */
#header {
  width: 100%;
  padding-bottom: 20px;
}
/* line 53, ../sass/screen.sass */
#header #logo {
  width: 36.70886%;
  float: left;
  text-align: center;
}
/* line 58, ../sass/screen.sass */
#header #logo a {
  color: #888888;
}
/* line 60, ../sass/screen.sass */
#header #logo a:hover {
  text-decoration: none;
}
/* line 63, ../sass/screen.sass */
#header #logo img#logo-img {
  width: 100px;
  margin: 30px 0;
}
/* line 67, ../sass/screen.sass */
#header #logo #ffc-title {
  color: #888888;
  font-size: 180%;
  font-weight: normal;
  letter-spacing: -1px;
}
/* line 74, ../sass/screen.sass */
#header #nav {
  width: 62.02532%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  text-align: right;
}
/* line 79, ../sass/screen.sass */
#header #nav ul#nav-menu {
  list-style: none;
  padding-top: 50px;
}
/* line 83, ../sass/screen.sass */
#header #nav ul#nav-menu li {
  font-size: 150%;
  font-weight: bold;
  letter-spacing: -1px;
  color: #d5d5d5;
  display: inline;
  padding: 0 15px;
}

/* line 91, ../sass/screen.sass */
#splash {
  height: 350px;
  position: relative;
}
/* line 108, ../sass/screen.sass */
#splash #landscape {
  height: 350px;
  position: relative;
  overflow: hidden;
}
/* line 114, ../sass/screen.sass */
#splash #landscape img.landscape {
  width: 100%;
}
/* line 117, ../sass/screen.sass */
#splash .shim {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
}
/* line 122, ../sass/screen.sass */
#splash .container {
  position: relative;
  bottom: -3em;
  z-index: 100;
}
/* line 128, ../sass/screen.sass */
#splash .container #caption {
  width: 62.02532%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  padding-left: 6.32911%;
  padding-right: 6.32911%;
}
/* line 132, ../sass/screen.sass */
#splash .container #caption .caption-content {
  display: none;
  font-size: 125%;
  color: #e9e9e9;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.55);
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8C000000,endColorstr=#8C000000);
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8C000000, endColorstr=#8C000000)";
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 1em 0.5em 1em 1.5em;
}
/* line 139, ../sass/screen.sass */
#splash .container #caption p {
  margin: 0;
  display: none;
}
/* line 142, ../sass/screen.sass */
#splash .container #caption p#content {
  display: inline-block;
}

/* line 155, ../sass/screen.sass */
#control {
  background: #262626;
  color: #ffffff;
  padding: 3px 10px 5px;
  border: 1px solid #cccccc;
  border-top: none;
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  display: none;
}
/* line 167, ../sass/screen.sass */
#control label, #control p {
  font-weight: normal;
  font-size: 90%;
}

/* line 176, ../sass/screen.sass */
#footer {
  width: 100%;
  padding: 20px 0;
}
/* line 183, ../sass/screen.sass */
#footer #location {
  width: 100%;
  text-align: center;
  color: #333333;
  padding: 3em 0 0;
  margin: 0;
}
