/* line 21, ../sass/screen.sass */
body {
  border-top: #4a554a 10px solid;
}

/* line 25, ../sass/screen.sass */
.container {
  *zoom: 1;
  margin: auto;
  width: 83em;
  max-width: 100%;
}
/* line 38, ../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 29, ../sass/screen.sass */
p, label {
  font-family: Tahoma, serif;
}

/* line 32, ../sass/screen.sass */
a {
  color: #4a554a;
}

/* line 35, ../sass/screen.sass */
.clearme {
  clear: both;
}

/* line 38, ../sass/screen.sass */
a.button:hover {
  text-decoration: none;
}

/* line 41, ../sass/screen.sass */
.button {
  font-size: 100%;
  padding: 0.3em 1.5em;
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  background-color: #888888;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aeaeae), color-stop(70%, #888888));
  background: -webkit-linear-gradient(#aeaeae, #888888 70%);
  background: -moz-linear-gradient(#aeaeae, #888888 70%);
  background: -o-linear-gradient(#aeaeae, #888888 70%);
  background: -ms-linear-gradient(#aeaeae, #888888 70%);
  background: linear-gradient(#aeaeae, #888888 70%);
  -webkit-box-shadow: #d5d5d5 0 1px 0 inset;
  -moz-box-shadow: #d5d5d5 0 1px 0 inset;
  box-shadow: #d5d5d5 0 1px 0 inset;
  border: 1px solid #7b7b7b;
  color: white;
  text-shadow: #6b6b6b 0 -1px 0;
}
/* line 10, ../../../../../Ruby187/lib/ruby/gems/1.8/gems/sassy-buttons-0.1.0/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:hover {
  background-color: #7b7b7b;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #a2a2a2), color-stop(75%, #7b7b7b));
  background: -webkit-linear-gradient(#a2a2a2 3%, #7b7b7b 75%);
  background: -moz-linear-gradient(#a2a2a2 3%, #7b7b7b 75%);
  background: -o-linear-gradient(#a2a2a2 3%, #7b7b7b 75%);
  background: -ms-linear-gradient(#a2a2a2 3%, #7b7b7b 75%);
  background: linear-gradient(#a2a2a2 3%, #7b7b7b 75%);
}
/* line 13, ../../../../../Ruby187/lib/ruby/gems/1.8/gems/sassy-buttons-0.1.0/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:active {
  -webkit-box-shadow: #747474 0 1px 2px inset;
  -moz-box-shadow: #747474 0 1px 2px inset;
  box-shadow: #747474 0 1px 2px inset;
}

/* line 44, ../sass/screen.sass */
#header {
  clear: both;
  margin-left: 2.41%;
  margin-right: 2.41%;
  margin-left: 2.41%;
  padding-bottom: 20px;
}
/* line 49, ../sass/screen.sass */
#header #logo {
  display: inline;
  float: left;
  width: 36.709%;
  margin-right: 1.266%;
  text-align: center;
}
/* line 53, ../sass/screen.sass */
#header #logo a {
  color: #888888;
}
/* line 55, ../sass/screen.sass */
#header #logo a:hover {
  text-decoration: none;
}
/* line 58, ../sass/screen.sass */
#header #logo img#logo-img {
  width: 100px;
  margin: 30px 0;
}
/* line 62, ../sass/screen.sass */
#header #logo #ffc-title {
  color: #888888;
  font-size: 180%;
  font-weight: normal;
  letter-spacing: -1px;
}
/* line 69, ../sass/screen.sass */
#header #nav {
  display: inline;
  float: left;
  width: 62.025%;
  margin-right: 1.266%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  text-align: right;
}
/* line 74, ../sass/screen.sass */
#header #nav ul#nav-menu {
  list-style: none;
  padding-top: 50px;
}
/* line 78, ../sass/screen.sass */
#header #nav ul#nav-menu li {
  font-size: 150%;
  font-weight: bold;
  letter-spacing: -1px;
  color: #d5d5d5;
  display: inline;
  padding: 0 15px;
}

/* line 86, ../sass/screen.sass */
#splash {
  background: transparent url(../images/DSC00166-2.jpg) 50% 35% no-repeat;
  height: 350px;
  position: relative;
}
/* line 103, ../sass/screen.sass */
#splash #landscape {
  height: 350px;
  position: relative;
  overflow: hidden;
}
/* line 109, ../sass/screen.sass */
#splash #landscape img.landscape {
  width: 100%;
}
/* line 112, ../sass/screen.sass */
#splash .shim {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
}
/* line 117, ../sass/screen.sass */
#splash .container {
  position: relative;
  bottom: -3em;
  z-index: 100;
}
/* line 123, ../sass/screen.sass */
#splash .container #caption {
  display: inline;
  float: left;
  width: 62.025%;
  margin-right: 1.266%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  padding-left: 6.329%;
  padding-right: 6.329%;
}
/* line 127, ../sass/screen.sass */
#splash .container #caption .caption-content {
  display: none;
  font-size: 125%;
  color: #e9e9e9;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.55);
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8C000000,endColorstr=#8C000000);
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8C000000, endColorstr=#8C000000)";
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 1em 0.5em 1em 1.5em;
}
/* line 134, ../sass/screen.sass */
#splash .container #caption p {
  margin: 0;
  display: none;
}
/* line 137, ../sass/screen.sass */
#splash .container #caption p#content {
  display: inline-block;
}

/* line 150, ../sass/screen.sass */
#control {
  background: #262626;
  color: white;
  padding: 3px 10px 5px;
  border: 1px solid #cccccc;
  border-top: none;
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -ms-border-bottom-left-radius: 0.5em;
  -o-border-bottom-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -ms-border-bottom-right-radius: 0.5em;
  -o-border-bottom-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  display: none;
}
/* line 162, ../sass/screen.sass */
#control label, #control p {
  font-weight: normal;
  font-size: 90%;
}

/* line 171, ../sass/screen.sass */
#footer {
  width: 100%;
  padding: 20px 0;
}
/* line 178, ../sass/screen.sass */
#footer #location {
  clear: both;
  margin-left: 2.41%;
  margin-right: 2.41%;
  margin-left: 2.41%;
  text-align: center;
  color: #333333;
  padding: 10px;
  margin: 0;
  padding-top: 3em;
}
