{% load zinnia_tags tagging_tags i18n %}
{% tags_for_model zinnia.entry as tag_entry %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="cache-control" content="public"/>
    <meta name="robots" content="follow, all"/>
    <meta name="language" content="{{ LANGUAGE_CODE }}"/>
    <meta name="description"
          content="{% block meta-description %}Demonstration of the Zinnia Blog application.{% endblock %}"/>
    <meta name="keywords"
          content="django, blog, zinnia, {{ tag_entry|join:", "}}, {% block meta-keywords %}{% endblock %}"/>
    <meta name="author" content="Fantomas42"/>
    <meta name="engine" content="Zinnia {{ ZINNIA_VERSION }}"/>
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="home" href="{% url zinnia_entry_archive_index %}"/>

    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/boilerplate/screen.css"/>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ ZINNIA_MEDIA_URL }}css/screen.css"/>
    <link rel="stylesheet" type="text/css" media="print" href="{{ ZINNIA_MEDIA_URL }}css/print.css"/>

    <link href='http://fonts.googleapis.com/css?family=Pompiere|Bentham|Prata|Playfair+Display|Dancing+Script|Reenie+Beanie|Rochester|Lobster' rel='stylesheet'
          type='text/css' media="screen"/>

    <!--[if lt IE 8]>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/boilerplate/ie.css"/>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ ZINNIA_MEDIA_URL }}css/ie.css" />
    <![endif]-->
    {% get_archives_entries "zinnia/tags/archives_entries_link.html" %}
    <link rel="pingback" href="/xmlrpc/"/>
    <link rel="EditURI" type="application/rsd+xml" href="{% url zinnia_rsd %}"/>
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{% url zinnia_wlwmanifest %}"/>
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of latest entries" %}"
          href="{% url zinnia_entry_latest_feed %}"/>
    {% block link %}{% endblock %}
    {% block script %}{% endblock %}
    <title>{% block title %}{% endblock %} - Fairmont Field Club.com</title>
</head>
<body id="zinnia">
<div class="container">
            <div id="breadcrumbs">
                    / {% block breadcrumbs %}{% endblock %}
            </div>
            <div class="top-navigation">
{#                <a href="{% url zinnia_sitemap %}" title="{% trans "Sitemap" %}" class="link sitemap">#}
{#                    {% trans "Sitemap" %}#}
{#                </a> |#}
                <p>
                  <input type="text" value="{% trans "Keywords..." %}" name="pattern" id="searchbox" onfocus="this.value=''"/>
                  <input type="submit" class="submitbutton" value="OK" />
                  <a title="{% trans 'You can use - to exclude words or phrases, &quot;double quotes&quot; for exact phrases and the AND/OR boolean operators combined with parenthesis for complex searchs.' %}">
                    <img src="{{ ZINNIA_MEDIA_URL }}img/help.png" alt="?" width="14" height="14" />
                  </a>
                  <a href="{% url zinnia_entry_latest_feed %}" title="{% trans "RSS Feed of latest entries" %}"
                     class="link feeds">       &nbsp;
                  </a>
                </p>

            </div>
    <div id="header">
        <img id="logo" src="{{ STATIC_URL }}images/logo1-ffc.jpg"/>
        <div id="header_text">
            <h1>
                <a href="{% url zinnia_entry_archive_index %}" title="Zinnia's Blog" rel="home">
{#                    <img src="{{ STATIC_URL }}images/FFC-PF Champion Script Pro.png" />#}
                    Fairmont Field Club
                </a>
            </h1>
            <blockquote>
                <h3>Fairmont, West Virginia</h3>
            </blockquote>
        </div>
    </div>
    <div id="body">
        <div id="content" class="hfeed">
            {% block content %}
                <h3>The content block need to be overrided!</h3>
            {% endblock %}
        </div>
        <div id="sidebar">
            {% block sidebar %}
            {% endblock %}
        </div>
    </div>
    <div id="footer">
        <p>Powered by <a href="http://www.djangoproject.com">Django</a> and <a
                href="http://github.com/Fantomas42/django-blog-zinnia">Zinnia {{ ZINNIA_VERSION }}</a>.</p>
    </div>
</div>
</body>
</html>


