{% load zinnia_tags%}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Fairmont Field Club and Golf Course - Fairmont, WV</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/boilerplate/screen.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/screen.css"/>

    <!--for Google Maps API-->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>
<body> <!--initializes the Google Map-->
<div class="container">
    <div id="header">
        <div id="logo">
            <a href="{% url home %}">
                <img id="logo-img" src="{{ STATIC_URL }}images/FFC-logo-small.gif"/>
            </a>
                <h1 id="ffc-title"><a href="{% url home %}">The Fairmont Field Club</a></h1>

        </div>
        <div id="nav">
{#            <p class="login"></p>#}
            <ul id="nav-menu">
                <li>Dining</li>
                <li>Events</li>
                <li>Golf</li>
                <li>Swim</li>
{#                <li>About</li>#}
            </ul>
        </div>
        <div class="clearme"></div>
    </div>
</div>
{#<img id="landscape" src="{{ STATIC_URL }}images/ffc-landscape-render-fade.jpg"/>#}
<div id="landscape"></div>
<div id="footer">
    <div class="container">
        <div id="location">
            <p id="address">1709 Country Club Road<br />Fairmont, WV 26554<br />(304) 366-2321</p>
            <span id="map-button" class="button">Show Map</span>
{#            <span id="directions-button" class="button">Get Directions</span>#}
            <span id="clear-landscape-button" class="button">Hide Map</span>
        </div>
        <div id="control">
{#            <p id="directions-preshow">Get directions</p>#}
            <form action="http://maps.google.com/maps" method="get" target="_blank" id="directions-form">
                <label for="start">Get directions from: </label>
                <input type="text" id="start" name="saddr" />
                <input type="hidden" name="daddr" value="1709 Country Club Road, Fairmont, WV" />
                <input type="submit" value="Go" id="directions-submit" />
            </form>
        </div>
{#        {% get_recent_entries 1 "zinnia/tags/recent_entries_excerpts.html" %}#}
{#        {% get_recent_entries 1 "zinnia/entry_list.html" %}#}
    </div>
</div>
</body>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.3.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    var directionDisplay;
    var directionsService = new google.maps.DirectionsService();

    $('#map-button').click(function() {
        var map_canvas = $("#landscape");
//        var useragent = navigator.userAgent;
//
//        if (useragent.indexOf('iPhone') != -1 || useragent.indexOf('Android') != -1 ) {
//            map_canvas.css({width: '100%', height: '100%'});
//        }
        var empty = $(map_canvas).is(':empty');

        if (empty) {
            var clubCenter = new google.maps.LatLng(39.47539110, -80.18655790);
            var myOptions = {
              zoom: 16,
              center: clubCenter,
              mapTypeId: google.maps.MapTypeId.HYBRID
            };
            var map = new google.maps.Map(map_canvas[0], myOptions);
//            var content = '<strong>A info window!</strong><br/>That is bound to a marker';
//
//            var infowindow = new google.maps.InfoWindow({
//              content: content
//            });

            var image = '{{ STATIC_URL }}images/FFC-logo-48.png';

            var marker = new google.maps.Marker({
              map: map,
              position: clubCenter,
              draggable: true,
              icon: image
            });

            var control = document.getElementById('control');
            map.controls[google.maps.ControlPosition.TOP].push(control);
            $(control).fadeIn(400);

//            infowindow.open(map, marker);
        } else {
            $('#landscape > div').show();
        }
        $(this).hide();
        $('#clear-landscape-button').show();
    });

{#    $('#directions-button').click(function() {#}
{#        var map_canvas = $("#landscape");#}
{#//        $(map_canvas).html('<div id="directions-map"></div><div id="directions-panel"></div>');#}
{#        var useragent = navigator.userAgent;#}
{##}
{#        if (useragent.indexOf('iPhone') != -1 || useragent.indexOf('Android') != -1 ) {#}
{#            map_canvas.css({width: '100%', height: '100%'});#}
{#        }#}
{#        var empty = $(map_canvas).is(':empty');#}
{##}
{#        if (empty) {#}
{#            var clubCenter = new google.maps.LatLng(39.47539110, -80.18655790);#}
{#            var myOptions = {#}
{#              zoom: 16,#}
{#              center: clubCenter,#}
{#              mapTypeId: google.maps.MapTypeId.HYBRID#}
{#            };#}
{#            var map = new google.maps.Map(map_canvas[0], myOptions);#}
{#            var image = '{{ STATIC_URL }}images/FFC-logo-48.png';#}
{#            var marker = new google.maps.Marker({#}
{#              map: map,#}
{#              position: clubCenter,#}
{#              draggable: true,#}
{#              icon: image#}
{#            });#}
{##}
{#//        directionsDisplay = new google.maps.DirectionsRenderer();#}
{#//        var map = new google.maps.Map(document.getElementById('directions-map'), myOptions);#}
{#//        directionsDisplay.setMap(map);#}
{#//        directionsDisplay.setPanel(document.getElementById('directions-panel'));#}
{##}
{#//        var control = document.getElementById('control');#}
{#//        control.style.display = 'block';#}
{#//        map.controls[google.maps.ControlPosition.TOP].push(control);#}
{#        } else {#}
{#            $('#landscape > div').show();#}
{#        }#}
{#        $(this).hide();#}
{#        $('#clear-landscape-button').show();#}
{#    });#}

//    $('#directions-submit').click(function() {
//        var start = document.getElementById('start').value;
//        var myLatlng = new google.maps.LatLng(39.47489110, -80.18445790);
//        alert(start);
//        var request = {
//            origin: start,
//            destination: myLatlng,
//            travelMode: google.maps.DirectionsTravelMode.DRIVING
//        };
//        directionsService.route(request, function(response, status) {
//            if (status == google.maps.DirectionsStatus.OK) {
//                directionsDisplay.setDirections(response);
//            }
//        });
//        return false;
//    });

    $('#clear-landscape-button').click(function() {
        $('#landscape > div').hide();
        $(this).hide();
        $('#map-button').show();
//        $('#directions-button').show();
    });

//    $('#directions-preshow').click(function() {
//        $(this).hide();
//        $('#directions-form').show();//css({'text-align': 'center'});
//        $(window).resize();
//    });

});
</script>
</html>