{% extends "base.html" %}
{% block splash %}
    <div id="landscape">
        {#                <img src="{{ STATIC_URL }}images/DSC00166-2.jpg" class="landscape" />#}
        {#                <img src="{{ STATIC_URL }}images/DSC00212-2.jpg" class="landscape" />#}
        {#                <img src="{{ STATIC_URL }}images/DSC00235-2.jpg" class="landscape" />#}
    </div>
    <div class="shim">
        <div class="container">
            <div id="caption">
                <div class="caption-content">
                    <p id="holder"></p>
                    <p id="content"></p>
                    <p id="content0">Members enjoy the privileges of a private country club
                        that is at once exclusive and inclusive. The Fairmont Field Club has served
                        as a "home away from home" for generations of Marion County residents. </p>
                    <p id="content1">With Amenities, Events, and Activities for members of all ages…</p>
                    <p id="content2">The Field Club will be the place where your family makes memories for years to come...</p>

                    <p id="content3">Founded in 1912, The Field Club has been a Marion County institution for 100 years. Built by the
                        Coal Barons of yesterday as a retreat from the industrial age, the Club has
                        evolved into a family centered country club with opportunities for everyone!
                        Surrounded by Country Club Estates…</p>

                    <p id="content4">The Field Club’s location is seconds away from everything… yet set apart from it all…</p>
                    <p id="content5">The Fairmont Field Club can assist you with your special event or wedding, no matter what the size. With a Dining Room that accommodates
                        125 for and event… and space for 25 in the adjacent 1912 Pub… The Field Club has the capability to accommodate Weddings and events for 150
                        indoors and for another 150 on our outdoor patio.</p>
                    <p id="content6">Swimmers will delight in the Field Club’s spacious pool. Open Memorial Day through Labor Day, the Pool hosts activities for the entire family
                        throughout the summer!
                        The Rock Lobster Swim Team competes against regional junior swim teams, and the “Originals” Water Aerobics group meets each weekday in
                        the summer.
                        An enclosed baby pool, and large pool deck allow ample space for sunbathers and socialites alike. </p>
                    <p id="content7">Built in 1912, The Fairmont Field Club is the site of the founding of the WV Golf Association in 1913.
                        Known for its tight fairways, and undulating greens, the Club’s nine-hole course offers challenges for golfers of every age and skill level.
                        With all of the amenities of a championship course, and a charming Golf Shop… The Field Club offers one of the most unique golf experiences in
                        North Central West Virginia. </p>
                    <p id="content8">The Clubhouse features three different areas to enjoy dining, events, and social activities. The well appointed formal dining room
                        accommodates 125 guests for dinner or events.
                        The covered porches provide a beautiful view of the property for up to 40 guests. Finally, The 1912 Pub provides a more casual atmosphere for
                        dining, socializing at the bar, and watching sports on the three flat screen televisions.
                        The Pub accommodates 35 guests. No matter where you choose to dine, our chef’s culinary creations are sure to please. </p>
                    <p id="content9">The Fairmont Field Club can assist you with your special event or wedding, no matter what the size. With a Dining Room that accommodates
                        125 for and event… and space for 25 in the adjacent 1912 Pub… The Field Club has the capability to accommodate Weddings and events for 150
                        indoors and for another 150 on our outdoor patio. </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">

        //        window.pjax_load = function() {
        //            $('#foo').do_whatever();
        //            ...
        //        }

        function load_google_map() {
            var directionDisplay;
            var directionsService = new google.maps.DirectionsService();
            var switcher = false;

            var map_canvas = $("#landscape");
//        var useragent = navigator.userAgent;
//
//        if (useragent.indexOf('iPhone') != -1 || useragent.indexOf('Android') != -1 ) {
//            map_canvas.css({width: '100%', height: '100%'});
//        }
            //$(map_canvas).is(':empty');

            var clubCenter = new google.maps.LatLng(39.47539110, -80.18655790);
            var myOptions = {
                zoom: 16,
                center: clubCenter,
                mapTypeId: google.maps.MapTypeId.HYBRID
            };
            var map = new google.maps.Map(map_canvas[0], myOptions);
//            var content = '<strong>A info window!</strong><br/>That is bound to a marker';
//
//            var infowindow = new google.maps.InfoWindow({
//              content: content
//            });

            var image = '{{ STATIC_URL }}images/FFC-logo-48.png';

            var marker = new google.maps.Marker({
                                                    map: map,
                                                    position: clubCenter,
                                                    draggable: true,
                                                    icon: image
                                                });

            var control = document.getElementById('control');
            map.controls[google.maps.ControlPosition.TOP].push(control);
            $(control).fadeIn(400);
        }

        function load_slideshow() {
            var content = $('#content0').text();
            $('#landscape').crossSlide({
//                                       sleep: 2,
                                           fade: 1
                                       }, [
                {
                    src: '{{ STATIC_URL }}images/DSC00166-2.jpg',
                    from: '100% 80% 0.7x',
                    to:   '70% 30% 0.8x',
                    time: 8
                }, {
                    src: '{{ STATIC_URL }}images/DSC00181.jpg',
                    from: '0% 0% 0.5x',
                    to:   '100% 0% 0.4x',
                    time: 8
                }, {
                    src: '{{ STATIC_URL }}images/DSC00178.jpg',
                    from: '0% 0% 0.5x',
                    to:   '100% 0% 0.4x',
                    time: 8
                }, {
                    src: '{{ STATIC_URL }}images/DSC00161-2.jpg',
                    from: '80% 60% 0.8x',
                    to:   '100% 100% 0.7x',
                    time: 8
                }, {
                    src: '{{ STATIC_URL }}images/DSC00212-2.jpg',
                    from: '50% 80% 0.8x',
                    to:   '100% 0% 0.7x',
                    time: 8
                }, {
                    src: '{{ STATIC_URL }}images/DSC00157.jpg',
                    from: '0% 0% 0.5x',
                    to:   '100% 0% 0.4x',
                    time: 8
                }, {
                    src: '{{ STATIC_URL }}images/DSC00235-2.jpg',
                    from: '80% 100% 0.7x',
                    to:   '20% 40% 0.8x',
                    time: 8
                }, {
                    src: '{{ STATIC_URL }}images/DSC00274-2.jpg',
                    from: '100% 100% 0.7x',
                    to:   '0% 35% 0.8x',
                    time: 8
                }, {
                    src: '{{ STATIC_URL }}images/DSC00246-2.jpg',
                    from: '100% 0% 0.8x',
                    to:   '0% 100% 0.7x',
                    time: 8
                }
            ], function(idx, img, idxOut, imgOut) {
                $('#holder').text(content);
                if (idxOut == undefined)
                {
                    // starting single image phase, put up caption
                    content = $('#holder').text();
                    $('#content').text(content);
                    $('#caption .caption-content').fadeIn();
                }
                else
                {
                    // starting cross-fade phase, take out caption
                    content = $('#content' + (idxOut + 1)).text();
                    $('#caption .caption-content').fadeOut();
                }
            });
        }

        $(document).ready(function() {
            $(function() {
//        $('#cross-slide').crossSlide({
                load_slideshow();
            });
//    window.pjax_load();
            $('a').pjax( "#splash" );
            $("#splash").on('pjax:start', function(xhr, options) {
                $('#landscape').crossSlideStop();
            });
//            $("#splash").on('pjax:success', function(data, status, xhr) {
//                if (data.relatedTarget.pathname == '/pjax/splash') {
//                    load_slideshow();
//                }
//            });
            $("#splash").on('pjax:end', function(a, b, c) {
                if (a.relatedTarget.pathname == '{% url "home" %}') {
                    load_slideshow();
                    $('#map-button').text('Get Directions').attr('href', '{% url "map" %}');
                } else if (a.relatedTarget.pathname == '{% url "map" %}') {
                    load_google_map();
                    $('#map-button').text('Go Back').attr('href', '{% url "home" %}');
                }
//                load_slideshow();
                //$('#loading').hide() });
            });
//    $('#container').on('pjax:end', function() { window.pjax_load(); });

            $('.caption-content p').last().css('margin', '0px');
//    $('#landscape').cycle({
////                              before: before_callback,
////                              after: after_callback
//                          });


        });
    </script>
{% endblock %}