<div id="landscape">
{#            <img src="{{ STATIC_URL }}images/DSC00166-2.jpg" class="landscape" />#}
    {#        <img src="{{ STATIC_URL }}images/DSC00212-2.jpg" class="landscape" />#}
    {#        <img src="{{ STATIC_URL }}images/DSC00235-2.jpg" class="landscape" />#}
</div>
<div class="shim">
    <div class="container">
        <div id="caption">
            <div class="caption-content">
                <p id="holder"></p>
                <p id="content"></p>
                <p id="content0">Members enjoy the privileges of a private country club
                    that is at once exclusive and inclusive. The Fairmont Field Club has served
                    as a "home away from home" for generations of Marion County residents. </p>
                <p id="content1">With Amenities, Events, and Activities for members of all ages…</p>
                <p id="content2">The Field Club will be the place where your family makes memories for years to come...</p>

                <p id="content3">Founded in 1912, The Field Club has been a Marion County institution for 100 years. Built by the
                    Coal Barons of yesterday as a retreat from the industrial age, the Club has
                    evolved into a family centered country club with opportunities for everyone!
                    Surrounded by Country Club Estates…</p>

                <p id="content4">The Field Club’s location is seconds away from everything… yet set apart from it all…</p>
                <p id="content5">The Fairmont Field Club can assist you with your special event or wedding, no matter what the size. With a Dining Room that accommodates
                    125 for and event… and space for 25 in the adjacent 1912 Pub… The Field Club has the capability to accommodate Weddings and events for 150
                    indoors and for another 150 on our outdoor patio.</p>
                <p id="content6">Swimmers will delight in the Field Club’s spacious pool. Open Memorial Day through Labor Day, the Pool hosts activities for the entire family
                    throughout the summer!
                    The Rock Lobster Swim Team competes against regional junior swim teams, and the “Originals” Water Aerobics group meets each weekday in
                    the summer.
                    An enclosed baby pool, and large pool deck allow ample space for sunbathers and socialites alike. </p>
                <p id="content7">Built in 1912, The Fairmont Field Club is the site of the founding of the WV Golf Association in 1913.
                    Known for its tight fairways, and undulating greens, the Club’s nine-hole course offers challenges for golfers of every age and skill level.
                    With all of the amenities of a championship course, and a charming Golf Shop… The Field Club offers one of the most unique golf experiences in
                    North Central West Virginia. </p>
                <p id="content8">The Clubhouse features three different areas to enjoy dining, events, and social activities. The well appointed formal dining room
                    accommodates 125 guests for dinner or events.
                    The covered porches provide a beautiful view of the property for up to 40 guests. Finally, The 1912 Pub provides a more casual atmosphere for
                    dining, socializing at the bar, and watching sports on the three flat screen televisions.
                    The Pub accommodates 35 guests. No matter where you choose to dine, our chef’s culinary creations are sure to please. </p>
                <p id="content9">The Fairmont Field Club can assist you with your special event or wedding, no matter what the size. With a Dining Room that accommodates
                    125 for and event… and space for 25 in the adjacent 1912 Pub… The Field Club has the capability to accommodate Weddings and events for 150
                    indoors and for another 150 on our outdoor patio. </p>
            </div>
        </div>
    </div>
</div>