// Imports -------------------------------------------------------------------

@import base

@import compass/css3/text-shadow
@import compass/css3/gradient
@import sassy-buttons
$default-text-shadow-color: #aaaaaa
$default-text-shadow-h-offset: -1px
$default-text-shadow-v-offset: 1px
$default-text-shadow-blur: 1px

@mixin sassy-button-default-structure
  display: inline-block
  width: auto
  height: auto
  cursor: pointer

/* Layout ------------------------------------------------------------------

.container
  +container
  //+susy-grid-background

body
  border-top: $logo_green 10px solid

p
  font-family: Tahoma, serif

a
  color: $logo_green

.clearme
  clear: both

.button
  +sassy-button("matte", 1em, 100%, $grey1)

#header
  +full()
  +alpha
  padding-bottom: 20px

  #logo
    +columns(6,16)
    text-align: center

    a
      color: $grey1
    a:hover
      text-decoration: none

    img#logo-img
      width: 100px
      margin: 30px 0

    #ffc-title
      //+single-text-shadow()
      color: $grey1
      font-size: 180%
      font-weight: normal
      letter-spacing: -1px

  #nav
    +columns(10,16)
    +omega(16)
    text-align: right

    ul#nav-menu
      list-style: none
      padding-top: 50px
      
      li
        font-size: 150%
        font-weight: bold
        letter-spacing: -1px
        color: lighten($grey1, 30%)
        display: inline
        padding: 0 15px

#landscape
  width: 100%
  background: transparent url(../images/ffc-landscape-render.jpg) center center no-repeat
  background-size: 100%
  height: 350px

#footer
  //+linear-gradient(color-stops($black, $logo_green 40%), top)
  //background-color: $logo_green
  width: 100%
  padding: 20px 0
  //height: 50px

  #location
    +full()
    +alpha
    text-align: center
    //color: $light_font
    color: $font
    padding: 10px
    margin: 0