{% load zinnia_tags%}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Fairmont Field Club and Golf Course - Fairmont, WV</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/boilerplate/screen.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/screen.css"/>

    <!--for Google Maps API-->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>
<body> <!--initializes the Google Map-->
<div class="container">
    <div id="header">
        <div id="logo">
            <a href="{% url home %}">
                <img id="logo-img" src="{{ STATIC_URL }}images/FFC-logo-small.gif"/>
            </a>
                <h1 id="ffc-title"><a href="{% url home %}">The Fairmont Field Club</a></h1>

        </div>
        <div id="nav">
{#            <p class="login"></p>#}
            <ul id="nav-menu">
                <li>Dining</li>
                <li>Events</li>
                <li>Golf</li>
                <li>Swim</li>
{#                <li>About</li>#}
            </ul>
        </div>
        <div class="clearme"></div>
    </div>
</div>
{#<img id="landscape" src="{{ STATIC_URL }}images/ffc-landscape-render-fade.jpg"/>#}
<div id="landscape"></div>
<div id="footer">
    <div class="container">
        <div id="location">
            <p id="address">1709 Country Club Road<br />Fairmont, WV 26554<br />(304) 366-2321</p>
            <span id="google-map-button" class="button">Map</span>
        </div>
{#        {% get_recent_entries 1 "zinnia/tags/recent_entries_excerpts.html" %}#}
{#        {% get_recent_entries 1 "zinnia/entry_list.html" %}#}
    </div>
</div>
</body>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.3.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
   $('#google-map-button').click(function() {
       var myLatlng = new google.maps.LatLng(39.47489110, -80.18445790);
       var clubCenter = new google.maps.LatLng(39.47539110, -80.18655790);
       var myOptions = {
         zoom: 14,
         center: clubCenter,
         mapTypeId: google.maps.MapTypeId.HYBRID
       };
       var map = new google.maps.Map(document.getElementById("landscape"), myOptions);
//       var content = '<strong>A info window!</strong><br/>That is bound to a marker';
//
//       var infowindow = new google.maps.InfoWindow({
//         content: content
//       });

       var image = '{{ STATIC_URL }}images/FFC-logo-48.png';

       var marker = new google.maps.Marker({
         map: map,
         position: clubCenter,
         draggable: true,
         icon: image
       });

//       infowindow.open(map, marker);
   });
});
</script>
</html>